@charset "UTF-8";
/* 変数 */
:root{
  --f1: 2.44em;
  --f2: 1.95em;
  --f3: 1.56em;
  --f4: 1.25em;
  --f5: 1em;
  --f6: 0.8em;
}

/* フォント */
body{
  font-family: sans-serif;
}

p{
  line-height: 1.8;
  font-size: var(--f5);
}

h1{
  font-size: var(--f1);
}
h2{
  font-size: var(--f2);
}
h3{
  font-size: var(--f3);
}
h4{
  font-size: var(--f4);
}
h5{
  font-size: var(--f5);
}
h6{
  font-size: var(--f6);
}
